OrchestrationService/obj/OrchestrationService.csproj.nuget.dgspec.json
OrchestrationService/obj/OrchestrationService.csproj.nuget.g.props
OrchestrationService/obj/OrchestrationService.csproj.nuget.g.targets
OrchestrationService/obj/project.assets.json
OrchestrationService/obj/project.nuget.cache
OrchestrationService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.AssemblyInfo.cs
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.AssemblyInfoInputs.cache
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.assets.cache
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.csprojAssemblyReference.cache
OrderService/obj/OrderService.csproj.nuget.dgspec.json
OrderService/obj/OrderService.csproj.nuget.g.props
OrderService/obj/OrderService.csproj.nuget.g.targets
OrderService/obj/project.assets.json
OrderService/obj/project.nuget.cache
OrderService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OrderService/obj/Debug/netcoreapp3.1/OrderService.AssemblyInfo.cs
OrderService/obj/Debug/netcoreapp3.1/OrderService.AssemblyInfoInputs.cache
OrderService/obj/Debug/netcoreapp3.1/OrderService.assets.cache
OrderService/obj/Debug/netcoreapp3.1/OrderService.csprojAssemblyReference.cache
Common/obj/Common.csproj.nuget.dgspec.json
Common/obj/Common.csproj.nuget.g.props
Common/obj/Common.csproj.nuget.g.targets
Common/obj/project.assets.json
Common/obj/project.nuget.cache
Common/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Common/obj/Debug/netcoreapp3.1/Common.AssemblyInfo.cs
Common/obj/Debug/netcoreapp3.1/Common.AssemblyInfoInputs.cache
Common/obj/Debug/netcoreapp3.1/Common.assets.cache
Common/obj/Debug/netcoreapp3.1/Common.csprojAssemblyReference.cache
OrderPaymentService/obj/OrderPaymentService.csproj.nuget.dgspec.json
OrderPaymentService/obj/OrderPaymentService.csproj.nuget.g.props
OrderPaymentService/obj/OrderPaymentService.csproj.nuget.g.targets
OrderPaymentService/obj/project.assets.json
OrderPaymentService/obj/project.nuget.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.AssemblyInfo.cs
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.AssemblyInfoInputs.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.assets.cache
Common/bin/Debug/netcoreapp3.1/Common
Common/bin/Debug/netcoreapp3.1/Common.deps.json
Common/bin/Debug/netcoreapp3.1/Common.dll
Common/bin/Debug/netcoreapp3.1/Common.pdb
Common/bin/Debug/netcoreapp3.1/Common.runtimeconfig.dev.json
Common/bin/Debug/netcoreapp3.1/Common.runtimeconfig.json
Common/obj/Debug/netcoreapp3.1/staticwebassets/Common.StaticWebAssets.Manifest.cache
Common/obj/Debug/netcoreapp3.1/staticwebassets/Common.StaticWebAssets.xml
OrchestrationService/bin/Debug/netcoreapp3.1/Automatonymous.dll
OrchestrationService/bin/Debug/netcoreapp3.1/GreenPipes.dll
OrchestrationService/bin/Debug/netcoreapp3.1/MassTransit.AspNetCoreIntegration.dll
OrchestrationService/bin/Debug/netcoreapp3.1/MassTransit.dll
OrchestrationService/bin/Debug/netcoreapp3.1/MassTransit.ExtensionsDependencyInjectionIntegration.dll
OrchestrationService/bin/Debug/netcoreapp3.1/MassTransit.RabbitMqTransport.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Diagnostics.HealthChecks.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
OrchestrationService/bin/Debug/netcoreapp3.1/NewId.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
OrchestrationService/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
OrchestrationService/bin/Debug/netcoreapp3.1/OrchestrationService
OrchestrationService/bin/Debug/netcoreapp3.1/OrchestrationService.deps.json
OrchestrationService/bin/Debug/netcoreapp3.1/OrchestrationService.dll
OrchestrationService/bin/Debug/netcoreapp3.1/OrchestrationService.pdb
OrchestrationService/bin/Debug/netcoreapp3.1/OrchestrationService.runtimeconfig.dev.json
OrchestrationService/bin/Debug/netcoreapp3.1/OrchestrationService.runtimeconfig.json
OrchestrationService/bin/Debug/netcoreapp3.1/RabbitMQ.Client.dll
OrchestrationService/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
OrchestrationService/bin/Debug/netcoreapp3.1/System.Threading.Channels.dll
OrderService/bin/Debug/netcoreapp3.1/appsettings.Development.json
OrderService/bin/Debug/netcoreapp3.1/appsettings.json
OrderService/bin/Debug/netcoreapp3.1/Automatonymous.dll
OrderService/bin/Debug/netcoreapp3.1/Common
OrderService/bin/Debug/netcoreapp3.1/Common.deps.json
OrderService/bin/Debug/netcoreapp3.1/Common.dll
OrderService/bin/Debug/netcoreapp3.1/Common.pdb
OrderService/bin/Debug/netcoreapp3.1/Common.runtimeconfig.dev.json
OrderService/bin/Debug/netcoreapp3.1/Common.runtimeconfig.json
OrderService/bin/Debug/netcoreapp3.1/GreenPipes.dll
OrderService/bin/Debug/netcoreapp3.1/MassTransit.AspNetCoreIntegration.dll
OrderService/bin/Debug/netcoreapp3.1/MassTransit.dll
OrderService/bin/Debug/netcoreapp3.1/MassTransit.ExtensionsDependencyInjectionIntegration.dll
OrderService/bin/Debug/netcoreapp3.1/MassTransit.RabbitMqTransport.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Diagnostics.HealthChecks.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
OrderService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
OrderService/bin/Debug/netcoreapp3.1/NewId.dll
OrderService/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
OrderService/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
OrderService/bin/Debug/netcoreapp3.1/OrchestrationService
OrderService/bin/Debug/netcoreapp3.1/OrchestrationService.deps.json
OrderService/bin/Debug/netcoreapp3.1/OrchestrationService.dll
OrderService/bin/Debug/netcoreapp3.1/OrchestrationService.pdb
OrderService/bin/Debug/netcoreapp3.1/OrchestrationService.runtimeconfig.dev.json
OrderService/bin/Debug/netcoreapp3.1/OrchestrationService.runtimeconfig.json
OrderService/bin/Debug/netcoreapp3.1/OrderService
OrderService/bin/Debug/netcoreapp3.1/OrderService.deps.json
OrderService/bin/Debug/netcoreapp3.1/OrderService.dll
OrderService/bin/Debug/netcoreapp3.1/OrderService.pdb
OrderService/bin/Debug/netcoreapp3.1/OrderService.runtimeconfig.dev.json
OrderService/bin/Debug/netcoreapp3.1/OrderService.runtimeconfig.json
OrderService/bin/Debug/netcoreapp3.1/RabbitMQ.Client.dll
OrderService/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
OrderService/bin/Debug/netcoreapp3.1/System.Threading.Channels.dll
OrderService/obj/Debug/netcoreapp3.1/apphost
OrderService/obj/Debug/netcoreapp3.1/OrderService.csproj.AssemblyReference.cache
OrderService/obj/Debug/netcoreapp3.1/OrderService.csproj.CopyComplete
OrderService/obj/Debug/netcoreapp3.1/OrderService.csproj.CoreCompileInputs.cache
OrderService/obj/Debug/netcoreapp3.1/OrderService.csproj.FileListAbsolute.txt
OrderService/obj/Debug/netcoreapp3.1/OrderService.dll
OrderService/obj/Debug/netcoreapp3.1/OrderService.genruntimeconfig.cache
OrderService/obj/Debug/netcoreapp3.1/OrderService.MvcApplicationPartsAssemblyInfo.cache
OrderService/obj/Debug/netcoreapp3.1/OrderService.MvcApplicationPartsAssemblyInfo.cs
OrderService/obj/Debug/netcoreapp3.1/OrderService.pdb
OrderService/obj/Debug/netcoreapp3.1/OrderService.RazorTargetAssemblyInfo.cache
OrderService/obj/Debug/netcoreapp3.1/project.razor.json
OrderService/obj/Debug/netcoreapp3.1/staticwebassets/OrderService.StaticWebAssets.Manifest.cache
OrderService/obj/Debug/netcoreapp3.1/staticwebassets/OrderService.StaticWebAssets.xml
OrchestrationService/obj/Debug/netcoreapp3.1/staticwebassets/OrchestrationService.StaticWebAssets.Manifest.cache
OrchestrationService/obj/Debug/netcoreapp3.1/staticwebassets/OrchestrationService.StaticWebAssets.xml
OrchestrationService/obj/Debug/netcoreapp3.1/apphost
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.csproj.AssemblyReference.cache
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.csproj.CopyComplete
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.csproj.CoreCompileInputs.cache
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.csproj.FileListAbsolute.txt
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.dll
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.genruntimeconfig.cache
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.MvcApplicationPartsAssemblyInfo.cache
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.pdb
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.RazorTargetAssemblyInfo.cache
OrchestrationService/obj/Debug/netcoreapp3.1/project.razor.json
Common/obj/Debug/netcoreapp3.1/apphost
Common/obj/Debug/netcoreapp3.1/Common.csproj.AssemblyReference.cache
Common/obj/Debug/netcoreapp3.1/Common.csproj.CoreCompileInputs.cache
Common/obj/Debug/netcoreapp3.1/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/netcoreapp3.1/Common.dll
Common/obj/Debug/netcoreapp3.1/Common.genruntimeconfig.cache
Common/obj/Debug/netcoreapp3.1/Common.MvcApplicationPartsAssemblyInfo.cache
Common/obj/Debug/netcoreapp3.1/Common.pdb
Common/obj/Debug/netcoreapp3.1/Common.RazorTargetAssemblyInfo.cache
Common/obj/Debug/netcoreapp3.1/project.razor.json
.vscode/launch.json
.vscode/tasks.json
OrderPaymentService/bin/Debug/netcoreapp3.1/appsettings.Development.json
OrderPaymentService/bin/Debug/netcoreapp3.1/appsettings.json
OrderPaymentService/bin/Debug/netcoreapp3.1/Automatonymous.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Common
OrderPaymentService/bin/Debug/netcoreapp3.1/Common.deps.json
OrderPaymentService/bin/Debug/netcoreapp3.1/Common.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Common.pdb
OrderPaymentService/bin/Debug/netcoreapp3.1/Common.runtimeconfig.dev.json
OrderPaymentService/bin/Debug/netcoreapp3.1/Common.runtimeconfig.json
OrderPaymentService/bin/Debug/netcoreapp3.1/GreenPipes.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/MassTransit.AspNetCoreIntegration.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/MassTransit.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/MassTransit.ExtensionsDependencyInjectionIntegration.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/MassTransit.RabbitMqTransport.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Diagnostics.HealthChecks.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/NewId.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/OrderPaymentService
OrderPaymentService/bin/Debug/netcoreapp3.1/OrderPaymentService.deps.json
OrderPaymentService/bin/Debug/netcoreapp3.1/OrderPaymentService.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/OrderPaymentService.pdb
OrderPaymentService/bin/Debug/netcoreapp3.1/OrderPaymentService.runtimeconfig.dev.json
OrderPaymentService/bin/Debug/netcoreapp3.1/OrderPaymentService.runtimeconfig.json
OrderPaymentService/bin/Debug/netcoreapp3.1/RabbitMQ.Client.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/System.Threading.Channels.dll
OrderPaymentService/obj/Debug/netcoreapp3.1/apphost
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.csproj.AssemblyReference.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.csproj.CopyComplete
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.csproj.CoreCompileInputs.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.csproj.FileListAbsolute.txt
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.dll
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.genruntimeconfig.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.MvcApplicationPartsAssemblyInfo.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.MvcApplicationPartsAssemblyInfo.cs
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.pdb
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.RazorTargetAssemblyInfo.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/project.razor.json
OrderPaymentService/obj/Debug/netcoreapp3.1/staticwebassets/OrderPaymentService.StaticWebAssets.Manifest.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/staticwebassets/OrderPaymentService.StaticWebAssets.xml
OrderService/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
OrderService/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
OrderService/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
OrderService/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
IdentityService/obj/IdentityService.csproj.nuget.dgspec.json
IdentityService/obj/IdentityService.csproj.nuget.g.props
IdentityService/obj/IdentityService.csproj.nuget.g.targets
IdentityService/obj/project.assets.json
IdentityService/obj/project.nuget.cache
IdentityService/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
IdentityService/obj/Debug/net5.0/IdentityService.AssemblyInfo.cs
IdentityService/obj/Debug/net5.0/IdentityService.AssemblyInfoInputs.cache
IdentityService/obj/Debug/net5.0/IdentityService.assets.cache
IdentityService/obj/Debug/net5.0/IdentityService.csproj.AssemblyReference.cache
IdentityService/obj/Debug/net5.0/IdentityService.GeneratedMSBuildEditorConfig.editorconfig
IdentityService/obj/Debug/net5.0/project.razor.json
ProductService/bin/Debug/net5.0/appsettings.Development.json
ProductService/bin/Debug/net5.0/appsettings.json
ProductService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ProductService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
ProductService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
ProductService/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
ProductService/bin/Debug/net5.0/Microsoft.OpenApi.dll
ProductService/bin/Debug/net5.0/ProductService
ProductService/bin/Debug/net5.0/ProductService.deps.json
ProductService/bin/Debug/net5.0/ProductService.dll
ProductService/bin/Debug/net5.0/ProductService.pdb
ProductService/bin/Debug/net5.0/ProductService.runtimeconfig.dev.json
ProductService/bin/Debug/net5.0/ProductService.runtimeconfig.json
ProductService/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
ProductService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ProductService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ProductService/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
ProductService/bin/Debug/net5.0/ref/ProductService.dll
ProductService/obj/ProductService.csproj.nuget.dgspec.json
ProductService/obj/ProductService.csproj.nuget.g.props
ProductService/obj/ProductService.csproj.nuget.g.targets
ProductService/obj/project.assets.json
ProductService/obj/project.nuget.cache
ProductService/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ProductService/obj/Debug/net5.0/apphost
ProductService/obj/Debug/net5.0/ProductService.AssemblyInfo.cs
ProductService/obj/Debug/net5.0/ProductService.AssemblyInfoInputs.cache
ProductService/obj/Debug/net5.0/ProductService.assets.cache
ProductService/obj/Debug/net5.0/ProductService.csproj.AssemblyReference.cache
ProductService/obj/Debug/net5.0/ProductService.csproj.CopyComplete
ProductService/obj/Debug/net5.0/ProductService.csproj.CoreCompileInputs.cache
ProductService/obj/Debug/net5.0/ProductService.csproj.FileListAbsolute.txt
ProductService/obj/Debug/net5.0/ProductService.dll
ProductService/obj/Debug/net5.0/ProductService.GeneratedMSBuildEditorConfig.editorconfig
ProductService/obj/Debug/net5.0/ProductService.genruntimeconfig.cache
ProductService/obj/Debug/net5.0/ProductService.MvcApplicationPartsAssemblyInfo.cache
ProductService/obj/Debug/net5.0/ProductService.MvcApplicationPartsAssemblyInfo.cs
ProductService/obj/Debug/net5.0/ProductService.pdb
ProductService/obj/Debug/net5.0/ProductService.RazorTargetAssemblyInfo.cache
ProductService/obj/Debug/net5.0/project.razor.json
ProductService/obj/Debug/net5.0/ref/ProductService.dll
ProductService/obj/Debug/net5.0/staticwebassets/ProductService.StaticWebAssets.Manifest.cache
ProductService/obj/Debug/net5.0/staticwebassets/ProductService.StaticWebAssets.xml
IdentityService/bin/Debug/net5.0/appsettings.Development.json
IdentityService/bin/Debug/net5.0/appsettings.json
IdentityService/bin/Debug/net5.0/AutoMapper.dll
IdentityService/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
IdentityService/bin/Debug/net5.0/IdentityService
IdentityService/bin/Debug/net5.0/IdentityService.deps.json
IdentityService/bin/Debug/net5.0/IdentityService.dll
IdentityService/bin/Debug/net5.0/IdentityService.pdb
IdentityService/bin/Debug/net5.0/IdentityService.runtimeconfig.dev.json
IdentityService/bin/Debug/net5.0/IdentityService.runtimeconfig.json
IdentityService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
IdentityService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
IdentityService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
IdentityService/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
IdentityService/bin/Debug/net5.0/Microsoft.OpenApi.dll
IdentityService/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
IdentityService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
IdentityService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
IdentityService/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
IdentityService/bin/Debug/net5.0/ref/IdentityService.dll
IdentityService/obj/Debug/net5.0/apphost
IdentityService/obj/Debug/net5.0/IdentityService.csproj.CopyComplete
IdentityService/obj/Debug/net5.0/IdentityService.csproj.CoreCompileInputs.cache
IdentityService/obj/Debug/net5.0/IdentityService.csproj.FileListAbsolute.txt
IdentityService/obj/Debug/net5.0/IdentityService.dll
IdentityService/obj/Debug/net5.0/IdentityService.genruntimeconfig.cache
IdentityService/obj/Debug/net5.0/IdentityService.MvcApplicationPartsAssemblyInfo.cache
IdentityService/obj/Debug/net5.0/IdentityService.MvcApplicationPartsAssemblyInfo.cs
IdentityService/obj/Debug/net5.0/IdentityService.pdb
IdentityService/obj/Debug/net5.0/IdentityService.RazorTargetAssemblyInfo.cache
IdentityService/obj/Debug/net5.0/ref/IdentityService.dll
IdentityService/obj/Debug/net5.0/staticwebassets/IdentityService.StaticWebAssets.Manifest.cache
IdentityService/obj/Debug/net5.0/staticwebassets/IdentityService.StaticWebAssets.xml
OrderService/obj/Debug/net5.0/apphost
OrderService/obj/Debug/net5.0/OrderService.csproj.AssemblyReference.cache
OrderService/obj/Debug/net5.0/OrderService.GeneratedMSBuildEditorConfig.editorconfig
OrderService/obj/Debug/net5.0/project.razor.json
OrderService/obj/Debug/net5.0/OrderService.csproj.AssemblyReference.cache
OrderService/obj/Debug/net5.0/OrderService.GeneratedMSBuildEditorConfig.editorconfig
OrderService/obj/Debug/net5.0/OrderService.csproj.AssemblyReference.cache
OrderService/obj/Debug/net5.0/OrderService.GeneratedMSBuildEditorConfig.editorconfig
OrderPaymentService/bin/Debug/net5.0/appsettings.Development.json
OrderPaymentService/bin/Debug/net5.0/appsettings.json
OrderPaymentService/bin/Debug/net5.0/Automatonymous.dll
OrderPaymentService/bin/Debug/net5.0/Common
OrderPaymentService/bin/Debug/net5.0/Common.deps.json
OrderPaymentService/bin/Debug/net5.0/Common.dll
OrderPaymentService/bin/Debug/net5.0/Common.pdb
OrderPaymentService/bin/Debug/net5.0/Common.runtimeconfig.dev.json
OrderPaymentService/bin/Debug/net5.0/Common.runtimeconfig.json
OrderPaymentService/bin/Debug/net5.0/GreenPipes.dll
OrderPaymentService/bin/Debug/net5.0/MassTransit.AspNetCoreIntegration.dll
OrderPaymentService/bin/Debug/net5.0/MassTransit.dll
OrderPaymentService/bin/Debug/net5.0/MassTransit.ExtensionsDependencyInjectionIntegration.dll
OrderPaymentService/bin/Debug/net5.0/MassTransit.RabbitMqTransport.dll
OrderPaymentService/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
OrderPaymentService/bin/Debug/net5.0/Microsoft.OpenApi.dll
OrderPaymentService/bin/Debug/net5.0/NewId.dll
OrderPaymentService/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
OrderPaymentService/bin/Debug/net5.0/Newtonsoft.Json.dll
OrderPaymentService/bin/Debug/net5.0/OrderPaymentService
OrderPaymentService/bin/Debug/net5.0/OrderPaymentService.deps.json
OrderPaymentService/bin/Debug/net5.0/OrderPaymentService.dll
OrderPaymentService/bin/Debug/net5.0/OrderPaymentService.pdb
OrderPaymentService/bin/Debug/net5.0/OrderPaymentService.runtimeconfig.dev.json
OrderPaymentService/bin/Debug/net5.0/OrderPaymentService.runtimeconfig.json
OrderPaymentService/bin/Debug/net5.0/RabbitMQ.Client.dll
OrderPaymentService/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
OrderPaymentService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
OrderPaymentService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
OrderPaymentService/bin/Debug/net5.0/ref/OrderPaymentService.dll
OrderService/obj/Debug/net5.0/OrderService.assets.cache
OrderService/obj/Debug/net5.0/OrderService.csproj.AssemblyReference.cache
OrderService/obj/Debug/net5.0/OrderService.csproj.CoreCompileInputs.cache
OrderService/obj/Debug/net5.0/OrderService.csproj.FileListAbsolute.txt
OrderService/obj/Debug/net5.0/OrderService.dll
OrderService/obj/Debug/net5.0/OrderService.GeneratedMSBuildEditorConfig.editorconfig
OrderService/obj/Debug/net5.0/OrderService.genruntimeconfig.cache
OrderService/obj/Debug/net5.0/OrderService.pdb
OrderService/obj/Debug/net5.0/ref/OrderService.dll
OrderPaymentService/bin/Debug/netcoreapp3.1/Common.exe
OrderPaymentService/bin/Debug/netcoreapp3.1/OrderPaymentService.exe
