OrchestrationService/obj/OrchestrationService.csproj.nuget.dgspec.json
OrchestrationService/obj/OrchestrationService.csproj.nuget.g.props
OrchestrationService/obj/OrchestrationService.csproj.nuget.g.targets
OrchestrationService/obj/project.assets.json
OrchestrationService/obj/project.nuget.cache
OrchestrationService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.AssemblyInfo.cs
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.AssemblyInfoInputs.cache
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.assets.cache
OrchestrationService/obj/Debug/netcoreapp3.1/OrchestrationService.csprojAssemblyReference.cache
OrderService/obj/OrderService.csproj.nuget.dgspec.json
OrderService/obj/OrderService.csproj.nuget.g.props
OrderService/obj/OrderService.csproj.nuget.g.targets
OrderService/obj/project.assets.json
OrderService/obj/project.nuget.cache
OrderService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OrderService/obj/Debug/netcoreapp3.1/OrderService.AssemblyInfo.cs
OrderService/obj/Debug/netcoreapp3.1/OrderService.AssemblyInfoInputs.cache
OrderService/obj/Debug/netcoreapp3.1/OrderService.assets.cache
OrderService/obj/Debug/netcoreapp3.1/OrderService.csprojAssemblyReference.cache
Common/obj/Common.csproj.nuget.dgspec.json
Common/obj/Common.csproj.nuget.g.props
Common/obj/Common.csproj.nuget.g.targets
Common/obj/project.assets.json
Common/obj/project.nuget.cache
Common/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Common/obj/Debug/netcoreapp3.1/Common.AssemblyInfo.cs
Common/obj/Debug/netcoreapp3.1/Common.AssemblyInfoInputs.cache
Common/obj/Debug/netcoreapp3.1/Common.assets.cache
Common/obj/Debug/netcoreapp3.1/Common.csprojAssemblyReference.cache
OrderPaymentService/obj/OrderPaymentService.csproj.nuget.dgspec.json
OrderPaymentService/obj/OrderPaymentService.csproj.nuget.g.props
OrderPaymentService/obj/OrderPaymentService.csproj.nuget.g.targets
OrderPaymentService/obj/project.assets.json
OrderPaymentService/obj/project.nuget.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.AssemblyInfo.cs
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.AssemblyInfoInputs.cache
OrderPaymentService/obj/Debug/netcoreapp3.1/OrderPaymentService.assets.cache
